@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Account Voucher</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">

                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a asp-controller="AccountVoucher" asp-action="Index" class="text-muted text-hover-primary"><i class="bi bi-house"></i> Account</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item fw-bolder"> Account Voucher</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->

<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        @section pageTitle {
        Account Voucher List
        }
        <div class="card">
            <div class="card-body p-5 px-lg-10 py-lg-7">
                <!--begin::Heading-->
                <div>
                    <!--begin::Title-->
                    <span>
                        <h3 class="fs-x text-dark mb-6">
                            <svg style="position: relative;top:-3px;"
                                 xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                            Search
                        </h3>
                    </span>
                    <!--end::Title-->
                    <hr />
                    <div class="">
                        <partial name="_ACC_AccountVoucherListFilterForm" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="SearchResult" class="div-search-result"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#filterForm").submit();
        });

        function initDataTable(tableSelector) {
            $(tableSelector).DataTable({
                "scrollY": "300px",
                "scrollCollapse": true,
                "paging": false,
                "order": [],
                "stateSave": true,
                "scrollX": true
            });
        }

        function OnSuccess(formID) {
            // if (formID == "filterForm") {
            //     initDataTable("#tblList");
            // }

            if (formID == "formAdd_SEC_Controller") {
            }


            if (formID == "formEdit_SEC_Controller") {
            }

            if (formID == "formAddEditSave_SEC_Controller") {
                $("#filterForm").submit();
                toastr.success("Record saved successfully..!");
            }

            if (formID == "formDelete_SEC_Controller") {
                $("#filterForm").submit();
                toastr.success("Record deleted successfully..!");
            }
        }
    </script>
}
